@using System.ComponentModel.DataAnnotations

<div style="height:calc(80vh); position: relative;">
    <iframe src="@UserDefinitionsService.LocalHugoUrl/@Url"></iframe>
</div>

@code {

    [Parameter, Required]
    public string Url { get; set; } = default!;

}