@inherits LayoutComponentBase

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        Hugo Data Editor
        <MudToolBar>
            <a href="/Posts">Posts</a>
            <a href="/yNotes">Notes</a>
        </MudToolBar>
    </MudAppBar>

    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
